<nav class="bg-gray-900 fixed top-0 inset-x-0 h-20 text-white border-gray-800 border-b">
  <div class="relative md:container md:mx-auto flex justify-between items-center h-20 px-4 md:px-0"
    x-data="{open: false}">
    <div>
      <a class="hover:bg-gray-800 py-4 px-7 transition duration-250 rounded" href="/">
        <span class="font-bold text-xl text-purple-400">Password</span><span
          class="font-bold text-xl text-white">Generator</span>
      </a>
    </div>

    <div class="hidden md:flex flex-wrap gap-4">
      <a href="#"
        class="py-2 px-3 font-lg font-bold border-b-2 border-blue-100 border-transparent transition duration-250 hover:border-current">Link</a>
      <a href="#"
        class="py-2 px-3 font-lg font-bold border-b-2 border-blue-100 border-transparent transition duration-250 hover:border-current">Link</a>
    </div>

    <button x-on:click="open = ! open" class="block md:hidden">
      <template x-if="open">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </template>
      <template x-if="!open">
        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </template>

    </button>

    <div x-show="open" x-transition
      class="absolute bg-gray-900 w-screen z-2 inset-x-0 flex flex-col top-20 h-50 text-center md:hidden divide-y divide-gray-800 last:divide-gray-800">
      <a href="#" class="py-2 px-4 font-lg font-bold">Link</a>
      <a href="#" class="py-2 px-4 font-lg font-bold">Link</a>
    </div>
  </div>
</nav>